/*@font-face {*/
/*    font-family: Archivo;*/
/*    src: url(../font/Archivo-Italic-VariableFont_wdth,wght.ttf);*/
/*}*/


/*@font-face {*/
/*    font-family: Archivo Italic;*/
/*    src: url(../font/Archivo-VariableFont_wdth,wght.ttf);*/
/*}*/

/*@font-face {*/
/*    font-family: Martian Mono;*/
/*    src: url(../font/MartianMono-VariableFont_wdth,wght.ttf);*/
/*}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Archivo", sans-serif;
}

:root {
    --black: #222226;
    --grey: #666666;
    --white: #fff;
    --blue: #364bf7;

    --martian-mono: "Martian Mono", system-ui;
}

h1 {
    font-size: 6rem;
    letter-spacing: -2px;
    line-height: 6rem;
    font-weight: 600;
}

h2 {
    font-size: 4rem;
    letter-spacing: -2px;
    line-height: 4rem;
    font-weight: 600;
}

h3 {
    font-size: 3rem;
    letter-spacing: -2px;
    line-height: 3rem;
    font-weight: 600;
    text-transform: capitalize;
}

h4 {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: normal;
}

h5 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 600;
}

h6 {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: normal;
}

p {
    font-size: 1.12rem;
    line-height: 2rem;
}

.subtext {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.25px;
}

@media (max-width: 35em) {
    h1 {
        font-size: 3rem;
        line-height: 100%;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    h3 {
        font-size: 2rem;
        line-height: 1.5rem;
    }

    h4 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    h5 {
        font-size: 1.12rem;
        line-height: 2rem;
    }

    h6 {
        font-size: 1.12rem;
        line-height: 2rem;
    }
}

header {
    border-bottom: 1px solid var(--black);
}

main {
    line-height: 1.5;
    padding: 2rem;
    border-bottom: 1px solid var(--black);
}

@media (min-width: 43rem) {
    header,
    main,
    footer {
        width: 100%;
        max-width: calc(100vw - 2rem);
    }

    header {
        margin: 1rem;
        margin-bottom: 0;
        border: solid var(--black);
        border-width: 1px;
    }

    main {
        margin: 0 1rem;
        border: solid var(--black);
        border-width: 0px 1px 1px 1px;
        border-top: none;
        padding: 1rem;
    }

    footer {
        margin: 0 1rem 1rem 1rem;
        border: solid var(--black);
        border-width: 0px 1px 1px 1px;
    }
}

/*eind eglobal*/

/*members card*/



.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
    text-transform: uppercase;
}

.card {
    width: 100%;
    overflow: hidden;
    border: var(--grey) 1px solid;
    padding: 2rem;
    display: grid;
    grid-template-rows: 16rem auto auto 4rem auto;
    gap: 16px;
}

.hide-members {
    display: none;
}

.card-label-filters {
    display: flex;
    flex-direction: row;
    text-overflow: ellipsis;
    gap: 0.8rem;

}

.card-label {
    display: flex;
    flex-direction: row;
    text-overflow: ellipsis;
    gap: 0.5rem;
    height: 2rem;
}

.label-filters {
    border: 2px solid var(--black);
    width: max-content;
    padding: 3px;
}

h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 38px;
}

ul {
    list-style: none;
    margin: 0;
}


.card-hiring {
    background-color: var(--blue);
    color: var(--white);
    padding: 2px;
    height: 1.6rem;
}

.details-hover:hover {
    color: var(--black);
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}


@media (max-width: 350px) {

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
        text-transform: uppercase;
    }

    img {
        width: 92%;
    }

    .card {
        padding: 1rem;
    }

    .card {
        grid-template-rows: 16rem auto auto auto auto;
        grid-template-columns: 14em;
        row-gap: 2em;
    }


}

@media (min-width: 425px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        padding: 2rem;
    }

}


@media (min-width: 825px) {
    .card {
        grid-template-rows: 16rem auto auto 4rem auto;
    }

}




/*intro*/


.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .5em;
    margin: 15% 15% 10% 15%;
}

@media (min-width: 820px) {
    .intro {
        margin-top: 10%;
    }
}

@media (min-width: 1024px) {
    .intro {
        margin: 7.5% 25% 10% 25%;
    }


}


@media (min-width: 1524px) {
    .intro-section {
        margin: 12.5% 32% 10% 32%;
    }
}


/*einde intro*/

.detail-link {
    font-weight: bold;
    color: var(--blue);
    stroke: var(--blue); /* blue color for svg */
    vertical-align: middle;
}