<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <header class="navbar-start">
    <h1 class="navbar-item has-text-weight-bold">
      My Eleventy Blog
    </h1>
  </header>
  <div class="navbar-end">
    <a href="/" class="navbar-item">
      Home
    </a>

    <a href="/about" class="navbar-item">
      About Me
    </a>
    <a href="/posts/first-post" class="navbar-item">
      First Post
    </a>
  </div>
</nav>