---
layout: mylayout.njk
---

<!--https://fdnd-agency.directus.app/items/dda_agencies/-->
<!--npx @11ty/eleventy --serve-->

<!--npx is het command om de server op te starten-->
<section>


<h1>{{ title }}</h1>
    <a href="/member">  <span class="detail-link">ga naar members page statisch   <svg class="detail-link" width="16" height="16" slot="svg-icon-right" viewBox="0 0 24 24" fill="none" aria-label="ga naar details">
            <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
        </svg></span></a>


    <a href="/Data">  <span class="detail-link">ga naar members page met data uit database   <svg class="detail-link" width="16" height="16" slot="svg-icon-right" viewBox="0 0 24 24" fill="none" aria-label="ga naar details">
            <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
        </svg></span></a>

</section>

<style>
    section {
        display: grid;
        grid-gap: 40px;
        align-content: center;
        margin-top: 50px;
        justify-items: center;

    }
    a{
        font-size: 25px;
        text-decoration: none;
    }
    /*a{*/
    /*    display: grid;*/
    /*    gap: 2rem;*/
    /*    font-size: 25px;*/
    /*    background-color: #9efab0;*/
    /*    width: 500px;*/
    /*    border-radius: 50px;*/
    /*    !*height: 50px;*!*/
    /*    cursor: pointer;*/
    /*    padding: 10px 20px;*/
    /*    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    /*    transition: background-color 0.2s ease-in-out;*/


    /*}*/
</style>