{% include 'mylayout.njk' %}


<section class="intro">


    <span ><a href="/">TERUG NAAR HOME</a></span>
    <h1 aria-label="Onze leden">Onze leden</h1>
    <p class="text-intro">

        De [nummer] beste digitale bureaus van Nederland zijn verenigd in Dutch Digital Agencies. Zet de juiste
        filters aan en zoek contact met het bureau dat het beste bij past bij jouw vraagstuk en uitdaging.
    </p>

    <p class="text-intro">
        Ook DDA lid worden? Ga dan naar <span class="specific-text-decoration">deze pagina</span> voor meer
        informatie
    </p>
</section>
<section class="grid-container">


<h2 aria-label="leden" class="hide-members">Leden</h2>

{% for dda_agencies in agencies %}

<article class="card">
    <picture>
        <source srcset="https://fdnd-agency.directus.app/assets/{{dda_agencies.photo }}?format=avif" type="image/avif">
        <source srcset="https://fdnd-agency.directus.app/assets/{{dda_agencies.photo }}?format=webp" type="image/avif">
        <img src="https://fdnd-agency.directus.app/assets/{{dda_agencies.photo}}" loading="lazy" alt="foto van het bedrijf">
    </picture>

    <ul class="card-label-filters">
        <li class="label-filters">
            service design
        </li>
        <li class="label-filters">label</li>
    </ul>

    <h3 aria-label="bedrijfsnaam {member.title}">{{ dda_agencies.title }}</h3>
    <p>{{ dda_agencies.address }}</p>

    <ul class="card-label">
        <li>50  </li>
        <li>werknemers</li>
        <li class="card-hiring">hiring</li>

    </ul>


    <span class="detail-link">Details   <svg class="detail-link" width="16" height="16" slot="svg-icon-right" viewBox="0 0 24 24" fill="none" aria-label="ga naar details">
            <path d="M6 12H18M18 12L13 7M18 12L13 17" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
        </svg></span>


</article>

{% endfor %}
</section>
